extends layout
include mixins/_navbarDashboard.pug
include mixins/_overviewTile.pug

block prepend doc-header
  html(class= "has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded")

block  header
  +navbarDashboard()

block content
  aside.aside.is-placed-left.is-expanded
    .aside-tools
      a.aside-tools-label(href="/donations")
          +logo(151, 32, '#ffffff')
    .menu.is-menu-main
      p.menu-label General
      ul.menu-list
        each item, index in h.coordinatorMenu[0]
          li
            a.has-icon.is-flex.is-align-items-center(href=item.slug class=(view === item.slug ? "is-active" : undefined))
              span.icon.is-small.is-left
                ion-icon(src=`/icons/${item.icon}.svg`)
              span.menu-item-label.has-text-weight-semibold #{item.title}
      p.menu-label Quick actions
      ul.menu-list
        each item in h.coordinatorMenu[1]
          li
            a.has-icon(href=item.slug )
              span.icon.is-small.is-left
                ion-icon(src=`/icons/${item.icon}.svg`)
              span.menu-item-label.has-text-weight-semibold #{item.title}
  section.section.is-title-bar
    .level
      .level-left
        .level-item
          ul
            li.title.is-size-2 #{title}






