extends layout
include mixins/_navbarDashboard.pug
include mixins/_overviewTile.pug

block prepend doc-header
  html(class= "has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded")

block content
  aside.aside.is-placed-left.is-expanded
    .aside-tools
      a.aside-tools-label(href=`/donations/${user.id}`)
          +logo(151, 32, '#ffffff')
    .menu.is-menu-main
      p.menu-label General
      ul.menu-list
        - var menu = establishmentType === 'Fridge' ? h.coordinatorMenu[0] : h.businessMenu[0]
        - var quickActions = establishmentType === 'Fridge' ? h.coordinatorMenu[1] : h.businessMenu[1]
        each item, index in menu
          li
            a.has-icon.is-flex.is-align-items-center(href=`${item.slug}/${user.id}` class=(view === item.slug ? "is-active" : undefined))
              span.icon.is-small.is-left
                ion-icon(src=`/icons/${item.icon}.svg`)
              span.menu-item-label.has-text-weight-semibold #{item.title}
      p.menu-label Quick actions
      ul.menu-list
        each item in quickActions
          li
            a.has-icon.is-flex.is-align-items-center(href=`${item.slug}/${user.id}` class=(view === item.slug ? "is-active" : undefined))
              span.icon.is-small.is-left
                ion-icon(src=`/icons/${item.icon}.svg`)
              span.menu-item-label.has-text-weight-semibold #{item.title}
        li.is-hidden-desktop
          a.has-icon.is-flex.is-align-items-center(href="/account")
            span.icon.is-small.is-left
              ion-icon(src=`/icons/user.svg`)
            span.menu-item-label.has-text-weight-semibold My Profile
        hr.is-hidden-desktop
        li.is-hidden-desktop
          a.has-icon.is-flex.is-align-items-center(href="/logout")
            span.icon.is-small.is-left
              ion-icon(src=`/icons/signout.svg`)
            span.menu-item-label.has-text-weight-semibold Sign Out
  section.section.is-title-bar
    .level
      .level-left
        .level-item
          ul
            li.title.is-size-2 #{title}
block prepend scripts
    script(src="/dist/js/dashboardMenu.js")






