extend dashboard
include mixins/_navbarDashboard.pug
include mixins/_donationTable.pug

block  header
  +navbarDashboard()

block prepend content
  - var view = '/donations'
block append content
    section.section.is-main-section
      .tile.is-ancestor
        +overviewTile('Collected', `${ info.collected[0] === undefined ? 0 : info.collected[0].no } out of ${ info.claimed[0] === undefined ? 0 : info.claimed[0].no }`, 'shopping-bag')
        +overviewTile('Claimed', `${ info.claimed[0] === undefined ? 0 : info.claimed[0].no }`, 'box')
        if establishmentType === 'Fridge'
          +overviewTile('Available', nearbyDonations.length, 'fruit-apple')
        else
          +overviewTile('Available', `${ info.available[0] === undefined ? 0 : info.available[0].no }`, 'fruit-apple')
      if establishmentType === 'Fridge'
        #donations-map(data-lat=account.location.coordinates[0] data-lng=account.location.coordinates[1])
          button close
        .card.directions
          header.card-header
            p.card-header-title Directions
            a.card-header-icon.is-hidden-fullscreen(href='#collapsible-card' data-action='collapse' aria-label='more options')
              span.icon
                ion-icon(name='chevron-down-outline' aria-hidden='true')
          #collapsible-card.is-collapsible
            .card-content
              #directions-panel
            .card-footer
              a.card-footer-item.has-text-danger(href="#") Cancel directions
        .modal.has-align-items-center
          .modal-background
          .modal-card
            header.modal-card-head.has-background-primary
              p.modal-card-title.is-size-3.has-text-weight-bold.has-text-white
              button.delete.closeBtn(aria-label="close")
            section.modal-card-body.pb-0
              label.has-text-weight-semibold.mb-2
                span.icon.is-small.mr-2
                  ion-icon(src=`/icons/location-pin.svg`)
                span Address
              p.subtitle.is-5.has-text-grey.establishment-address
              label.has-text-weight-semibold.mb-2.is-flex.is-align-items-center
                span.icon.is-small.mr-2
                  ion-icon(src=`/icons/box.svg`)
                span.donor-name
              .donations
              label.has-text-weight-semibold.mb-2.is-flex.is-align-items-center
                span.icon.is-small.mr-2
                  ion-icon(src=`/icons/clock.svg`)
                span Opening hours
            footer.modal-card-foot.has-background-white
              button.button.is-primary.getDirectionsBtn(data-lat="" data-lng="") Get directions
              button.button.is-primary.is-light.closeBtn Close
        .mb-4
          +donationTable('Available donations - Nearby', nearbyDonations)
      else
        +donationTable('Your listed donations')

block prepend scripts
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
    script(src="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-collapsible@1.0.4/dist/js/bulma-collapsible.min.js")
    script(type="module" src="/dist/js/mapHandler.js")
    script(src="/dist/js/tablePagination.js")


