block doc-header
  doctype html
  html
    include mixins/_navbar.pug
    include mixins/_navbarUserLogged.pug
    head
      title= `${title} | ${h.siteName}`
      link(rel='stylesheet', href='/dist/css/style.css')
      //- link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.png")
      meta(name="viewport" content="width=device-width, initial-scale=1")
    body
      block header
        if user
          +navbarUserLogged()
        else
          +navbar()

    block messages
      if locals.flashes
        .container
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              article.message
                .message-header(class=`is-${category}`)
                  p #{ category.toUpperCase() }
                  button.delete(onClick="this.parentElement.parentElement.remove()")
                .message-body
                  p!= message

    block content
      p This is the default!

    block footer
      .footer

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/javascripts/pantree-app.js")
      script(src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js")