block doc-header
  doctype html
  html
    include mixins/_logo.pug
    head
      title= `${title} | ${h.siteName}`
      link(rel='stylesheet', href='/dist/css/style.css')
      //- link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.png")
      meta(name="viewport" content="width=device-width, initial-scale=1")
    body
      block header
        nav.navbar.is-fixed-top(role='navigation', aria-label='main navigation')
          .navbar-brand
              a.nav__link.nav__link--logo.navbar-item(href="/")
                +logo(151, 32) 
          .navbar-menu
            .navbar-end 
              each item in h.menu
                  a.nav__link.navbar-item(href=item.slug ) #{item.title}
              .navbar-item 
                .buttons 
                  if account
                    a.button.is-primary(href="/logout" )
                      //- != h.icon('logout')
                      span Logout
                    a.button.is-light(href="/account" )
                      p avatar todo
                  else
                    a.button.is-primary(href="/register" ) Sign Up
                    a.button.is-primary.is-light(href="/login" ) Log In

    block messages
      if locals.flashes
        article.message.is-danger
          .message-header
            p Danger
            button.delete(aria-label='delete')   
          .message-body
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                strong.error-title= category
                p.error-message= message
      
    block content
      p This is the default!

    block footer 
      .footer

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/javascripts/pantree-app.js")