mixin donationForm()
    - var d = new Date()
    - var currDate = d.getDate()
    - var currMonth = d.getMonth() + 1 //Months are zero based
    - var currYear = d.getFullYear()
    - if(currDate < 10) currDate = '0'+ currDate
    - if(currMonth < 10) currMonth = '0' + currMonth
    - var today = `${currYear}-${currMonth}-${currDate}`
    .columns.is-centered.is-vcentered.is-full-height
        .column.is-full-touch.is-three-quarters-desktop.is-three-fifths-widescreen
            .card
                .card-content
                    form.container.is-max-desktop.donation-form(action=`/donations/donation/add/${user.id}` method="POST")
                        h3.title.is-3.form-title Donation
                        hr
                        label.label Donation contents
                        p.help give a general overview of items in donation, e.g tommatoes, onions
                        .field.has-addons
                            p.control.is-expanded
                                input.input.donation-overview(type="tags" placeholder="add item" data-max-chars="15" name='tags')
                            p.control
                                a.button.is-medium.is-primary.is-link.add-tag Add
                        .field
                            .control
                                button.button.is-medium.is-fullwidth.is-link(id='donationUploadBtn')
                                    span.icon.is-small
                                        ion-icon(name="camera-outline")
                                    span Add Image
                        .field
                            .control
                                textarea.textarea(placeholder="Include the quantities of items in donation, as well as any information you think might be helpful." name='description' required)
                        .field
                            label.label Expiry date
                            p.help For donations containing multiple expiry dates provide the closest one.
                            .control
                                input.input(type="date" id="start" min=today name="expiryDate" required)
                        label.label Approximate weight
                        .field.has-addons
                            p.control.is-expanded
                                input.input(type='number' step="0.01" placeholder='0.0' name="weight" required)
                            p.control
                                button.button.is-static kg
                        hr
                        .field
                            label.label Contact name
                            .control.has-icons-left
                                input.input(type="text" value=user.name name='contact[name]' required)
                                span.icon.is-small.is-left
                                    ion-icon(src='/icons/user.svg')
                        .field
                            label.label Email
                            .control.has-icons-left
                                input.input(type="email" value=user.email name='contact[email]' required)
                                span.icon.is-small.is-left
                                    ion-icon(src='/icons/mail.svg')
                        .field
                            label.label Phone
                            .control.has-icons-left
                                input.input(type="text" name='contact[phoneNumber]' placeholder='0000-000-0000')
                                span.icon.is-small.is-left
                                    ion-icon(src='/icons/phone.svg')
                        .field
                            input(class="mr-2" type="checkbox" required)
                            span I confirm that all items are within their use-by date and packaged food items are unopened.
                        hr
                        .field
                            .control
                                button.button.is-medium.is-fullwidth.is-primary.submit(id='submitBtn' type="submit") Submit
