mixin tableRowFridge(donation, page, index)
    tr(class="donation-row" data-page=page data-id=donation.id)
        td.is-image-cell
            .image
                img.is-rounded(src=`https://eu.ui-avatars.com/api/?name=${associated !== undefined ?  associated[index]._doc.establishmentName : donation.establishmentName}&background=random`)
        td(data-label='Name') #{associated !== undefined ?  associated[index]._doc.establishmentName : donation.establishmentName}
        td(data-label='Donation contents') #{donation.tags}
        td(data-label='Weight') #{donation.weight} kg
        td(data-label='Added on')
            small.has-text-grey #{new Date(donation.addedDate).toLocaleDateString('en-GB')}
        td(data-label='Expiry date')
            small.has-text-grey #{new Date(donation.expiryDate).toLocaleDateString('en-GB')}
        td.is-actions-cell
            .buttons.is-right
                if donation.collected === false
                    a.button.is-small.is-link(href=`/donations/donation/${donation.id}`) View
                if donation.claimed === true && donation.collected === false
                    button.button.is-small.is-danger.cancelBtn(type='button') Cancel