mixin tableRowBusiness(donation, page)
    tr(class="donation-row" data-page=page)
        td.is-image-cell
            .image
                img.is-rounded(src=`https://eu.ui-avatars.com/api/?name=${donation.establishmentName}&background=random`)
        td(data-label='Claimed by') #{donation.establishmentName}
        td(data-label='Donation contents') #{donation.tags}
        td(data-label='Weight') #{donation.weight} kg
        td(data-label='Added on')
            small.has-text-grey #{new Date(donation.addedDate).toLocaleDateString('en-GB')}
        td(data-label='Expiry date')
            small.has-text-grey #{new Date(donation.expiryDate).toLocaleDateString('en-GB')}
        td.is-actions-cell
            .buttons.is-right
                if donation.claimed === false
                    a.button.is-small.is-link(href=`/donations/donation/${donation.id}`) View
                if donation.collected === false && donation.claimed === true
                    button.button.is-small.is-link(type='button') Collected
                if donation.claimed === true
                    button.button.is-small.is-danger(type='button') Cancel