mixin tableRowBusiness(donation, page, index)
    tr(class="donation-row" data-page=page data-id=donation.id)
        td.is-image-cell
            .image
                if associated !==undefined && associated[index] !== null
                    img.is-rounded(src=`https://eu.ui-avatars.com/api/?name=${
                        associated[index]._doc.establishmentName
                        }&background=random`)
        td(data-label='Claimed by')
          |  #{associated !==undefined && associated[index] !== null ?  associated[index]._doc.establishmentName : 'Nobody (Still available)'}
        td(data-label='Donation contents') #{donation.tags.toString().split(',').join(', ')}
        td(data-label='Weight') #{donation.weight} kg
        td(data-label='Added on')
            small.has-text-grey #{new Date(donation.addedDate).toLocaleDateString('en-GB')}
        td(data-label='Expiry date')
            small.has-text-grey #{new Date(donation.expiryDate).toLocaleDateString('en-GB')}
        td.is-actions-cell
            .buttons.is-right
                if donation.claimed === false
                    a.button.is-small.is-link(href=`/donations/donation/${donation.id}`) View
                if donation.collected === false && donation.claimed === true
                    button.button.is-small.is-success.collectBtn(type='button') Collected
                if donation.collected === false && title !== 'Donations'
                    button.button.is-small.is-danger.deleteBtn(type='button') Delete